*{
    box-sizing: border-box;
}

body {
    background-color: #eee;
}

/*.workingFIeld{
    margin-top: 50px;
}*/

.white-text{
    color: rgba(255, 255, 255, 0.993);
}

.center{
    display: flex;
    align-items: center;
}

.dashboard{
    height: 15vh;
    color: white;
    display: flex;
    align-items: center;
}

.header {
    clear: both;
    z-index: 2;
    height: 20px;
    background-color: white;
}


.menuIcon{
    height: 25px; 
    width: 20px;
    position: absolute; 
    right: 1em;
    top: 1em;
}
.menuIcon:hover{
    transform: scale(0.9);
}

.title{
    color: white;
}

.navBar {
    height: 100vh;
    background-color: rgb(0,36,56);
    border-right: 2px solid rgb(0,36,56);
}

.info{
    display: flex;
    flex-wrap: wrap;
    padding: 1em;
    justify-content: center;
}


.leftMenu {
    background-color: inherit;
    width: 100%;
    border: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 5em;
}


.redirect{
    width: 100%;
}
