*{
    box-sizing: border-box;
}

.info{
    height: 20vh;
    width: 20vh;
}

.content{
    top:10vh;
    height: 40vh;
    display: flex;
}

.division{
    background-color:aliceblue; 
}

.content{
    display: flex;
}