body{
    width: 100vw;
    height: 100vh;
    display: flex;
}

#login{
    background-image: url("loginPic.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#register { 
    background-image: url("register.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
#body {
    font-family: Georgia;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    background-color: #ffffff;
    border: hidden;
    padding: 40px 30px;
    width: 38%;
    border-radius: 15px;
    opacity: 0.97;
}

@media only screen and (max-width:700px){
    form{
        width: 80%;
    }
} 

.required{
    color: red;
}
.btn {
    width: 100%;
    border-radius: 25px;
    opacity: 1;
    color: aliceblue !important;
    font: bold 17px Georgia !important;
    border: solid thin !important;
    background-color: darkorange !important;
    border-color: orangered  !important;
}
.btn:hover{
    box-shadow: rgba(128, 128, 128, 0.5) 4px 2px;
}
.btn:active{
    transform: scale(0.95);
}

#back{
    color: darkblue;
    font-size: 12px;
    float: left;
}

label {
    font: bold 20px;
    color: black;
}

.in {
    width: 100%;
    color: black;
    font: normal 20px Gabriola;
    border: thin solid gray;
    border-radius: 3px;
}

.icon {
    background-color: dimgrey;
    padding: 10px;
    color: white;
    min-width: 50px;
    text-align: center;
}

.input-container{
    display: flex;
    width: 100%;
    margin-bottom: 15px;
}
